[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "galisats"]
	path = galisats
	url = https://github.com/lechjaszowski/galilean_satellites
